$button-to-wish-list-background: #3c3d3d;
$button-to-wish-list-color: #60ccff;
$button-to-wish-list-color-active: #6cfe91;
$button-to-wish-list-height: 30px;
$button-to-wish-list-padding: 15px;

@mixin baseButtonStyles() {
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


@mixin btnToWishList() {
  @include baseButtonStyles;
  display: block;
  width: 100%;
  background-color: $button-to-wish-list-background;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: $button-to-wish-list-padding;
  padding-right: $button-to-wish-list-padding;
  color: $button-to-wish-list-color;
  height: $button-to-wish-list-height;

  &_active {
    color: $button-to-wish-list-color-active;
  }
}
