@import '~src/assets/scss/settings';
@import '../../assets/scss/buttons';

$wish-list-headline-color: $color-primary;
$wish-list-color: $color-primary;
$wish-list-item-hover-color: #575757;
$wish-list-background-color: #3c3d3d;
$wish-list-button-delete-color: $color-secondary;
$wist-list-button-delete-wh: 12px;

.wish-list {
  border-top: 10px solid $color-secondary;
  width: 200px;
  background-color: $wish-list-background-color;
  padding: 13px 20px;
  font-size: 14px;

  &_draggable-item {
    outline: 1px solid $color-secondary;
  }

}

.wish-list--headline {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 24px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-weight: normal;
  color: $wish-list-headline-color;
}

.wish-list--list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $wish-list-color;

  li {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: $wish-list-item-hover-color;

      .wish-list--button-delete {
        opacity: 1;
      }

    }
  }
}

.wish-list--total {
  padding-left: 10px;
  padding-right: 10px;
  color: $wish-list-headline-color;

  &-number {
    font-weight: bold;
    color: $wish-list-button-delete-color;
  }
}

.wish-list--button-delete {
  @include baseButtonStyles();
  align-self: center;
  background-color: transparent;
  width: $wist-list-button-delete-wh;
  height: $wist-list-button-delete-wh;
  position: relative;
  opacity: 0;
  transition: opacity .5s;
  flex-shrink: 0;

  &:before, &:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    content: ' ';
    height: $wist-list-button-delete-wh;
    width: 3px;
    background-color: $wish-list-button-delete-color;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

}

.wish-list--clear {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: $wish-list-button-delete-color;
  border-bottom: 1px dotted;
  &:hover {
    border-bottom-color: transparent;
  }
}

.wish-list--empty {
  color: $wish-list-headline-color;
}
