<aside *ngIf="$wishListItems | async as wishListItems"
       (dragover)="dragOver($event)"
       (dragleave)="dragLeave($event)"
       (drop)="onDrop($event)" [ngClass]="{'wish-list_draggable-item': isDraggableItem}" class="wish-list" >
  <h2 class="wish-list--headline">{{getText("title")}}</h2>
  <ul class="wish-list--list">
    <li *ngFor="let product of wishListItems">
      <span>{{product.name}}</span>
      <button (click)="deleteFromWishList(product)" class="wish-list--button-delete"></button>
    </li>
    <li *ngIf="wishListItems == 0">{{getText("empty")}}</li>
  </ul>
  <p class="wish-list--total" *ngIf="getWishListItemsTotalPrice() > 0">{{getText("sum")}}: <span class="wish-list--total-number">{{getWishListItemsTotalPrice()}}</span> {{getText("currency")}}</p>
  <p *ngIf="wishListItems != 0"><span (click)="clearWistListItems()" class="wish-list--clear">{{getText("clear")}}</span></p>
</aside>
