.list-products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 630px;
  margin-left: -7px;
  margin-right: -7px;
}

app-products-list-item {
  margin-right: 14px;
  margin-bottom: 30px;
}

@media (min-width: 960px) {
  app-products-list-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .list-products {
    width: 470px;
  }

  app-products-list-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .list-products {
    width: 310px;
  }

  app-products-list-item:nth-child(2n) {
    margin-right: 0;
  }

}

