@import '~src/assets/scss/settings';
@import '../../../assets/scss/buttons';

$item-product-price-color: #bababa;
$item-product-name-color: $color-primary;

.item-product {
  width: 146px;
  text-align: center;
}

.item-product_draggable {
  opacity: 0.4;
}

.item-product--cover {
  width: 100%;
  background-size: 100% auto;
  height: 208px;
}

.item-product--button {
  @include btnToWishList();
  margin-bottom: 10px;
}

.item-product--name {
  font-size: 14px;
  color: $item-product-name-color;
  font-weight: normal;
  margin: 0 0 5px 0;
}

.item-product--price {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: $item-product-price-color;
}
