<article class="item-product"
         [ngClass]="{'item-product_draggable': isDraggable}"
         [draggable]="!product.isWished"
         (dragstart)="onDragStart($event, product)"
         (dragend)="onDragEnd($event)">
  <div class="item-product--cover" [ngStyle]="{'background-image':' url(' + product.cover + ')'}"></div>
  <button class="item-product--button" [ngClass]="{'item-product--button_active' : product.isWished}" (click)="changeProductWishStatus(product)">{{getItemProductButtonText()}}</button>
  <h2 class="item-product--name">{{product.name}}</h2>
  <h3 *ngIf="getPrice(product.price)" class="item-product--price">{{getPrice(product.price)}} {{getText("currency")}}</h3>
</article>
