/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:400,700');
@import '~src/assets/scss/_settings';

body {
  background-color: $body-background-color;
  font-family: 'Ubuntu', sans-serif;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
