.app-layout-content {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 15px;
}

app-switch-lang {
  flex-basis: 100%;
  margin-bottom: 30px;
}

app-products-list {
  position: relative;
  margin-right: 21px;
}

app-wish-list {
  position: relative;
  display: flex;
}

@media (max-width: 960px) {
  .app-layout-content {
    width: 740px;
  }
}

@media (max-width: 768px) {
  .app-layout-content {
    width: 580px;
  }
}
