@import '../../../../assets/scss/buttons';

.switch-lang {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 0;
}

.switch-lang--button {
  @include baseButtonStyles();
  border-radius: 5px;
  width: 41px;
  height: 27px;
  background: url('../../../../assets/images/flags.png') no-repeat 0 0;
  text-indent: -4000px;
}

.switch-lang--button:not(:last-of-type) {
  margin-right: 10px;
}

.switch-lang--button_en {
  background-position: 0 0;
}

.switch-lang--button_ru {
  background-position: 0 -34px;
}

.switch-lang--button_active {
  box-shadow: 0 0 0 3px #60ccff;
}
