<aside class="switch-lang">
<button draggable="true" routerLink="/ru" routerLinkActive="switch-lang--button_active" class="switch-lang--button switch-lang--button_ru">Russian</button>
<button routerLink="/en" routerLinkActive="switch-lang--button_active" class="switch-lang--button switch-lang--button_en">English</button>
</aside>
